#DirectoryIndex index.php index.html
#Options +FollowSymLinks
Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+) - [PT,L]
 
RewriteRule ^(.*) index.php

AddHandler php5-script .php
